admin/
corpus/sources/kirby/
corpus/sources/gecko
summary.docx
export.docx
exports/

# tex files
*.aux
*.out
*.log
*.synctex.*
*.bbl
*.bcf
*.blg
*.run.xml
*.fls
*fdb_latexmk
*.pyg
*.xdv
*.lol
*.toc
_minted-*/
